#bouler { font-size: larger;
    text-align: center;
    font-family:'Times New Roman', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: wavy;
}
body{
background: linear-gradient(180deg,rgb(245, 242, 242),rgb(58, 165, 236)); }
#qasida1 { font-size:large;
text-decoration: wavy;
font-family: sans-serif;}    
#peppa{align-self: flex-end;}
#git{align-content:end; height: 1cm}        
.centralize{display: flex; justify-content: center;}
#erstengedicht{align-content: end;}
.finale{align-content:inline;}
#bring{align-content: end;}